.Header {
  display: flex;
}

.Header-logo {
  width: 8rem;
  margin: 1rem 2rem 1rem 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

.Header-logo-image {
  width: 100%;
}

.Header-menu {
  position: absolute;
  top: 0;
  left: 18%;
  margin: 1.5rem 2rem 20rem 3rem;
  z-index: 800;
  display: inline-block;
  align-self: center;
}

.Header-menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.75rem;
  transition: color 0.4s;
  cursor: pointer;
}

.Header-menu a:hover {
  color: #b3b3b3;
}

.active {
  font-weight: bold;
}
