/* .MovieCard-outside-container {
  position: relative;
  width: 25%;
}

.MovieCard-container {
  width: 100%;
  border-radius: 10px;
  position: relative;

  overflow: hidden;
}

.on-hover {
  position: absolute;
  width: 150%;
  top: -100px;
  left: -100px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.MovieCard-video-player {
  display: none;
}

.MovieCard-text {
  display: none;
}

.MovieCard-text-title {
  font-weight: 600;
  font-size: 1.2rem;
} */

.MovieCard-container {
  height: 0;
  width: 0;
  opacity: 0;
  border-radius: 0.35rem 0.35rem 0 0;
}

.on-hover {
  position: absolute;
  top: 0;
  height: 150px;
  width: 267px;
  opacity: 1;
  border-radius: 0.35rem 0.35rem 0 0;
}

.MovieCard-video-thumbnail {
  border-radius: 0.35rem;
  width: 215px;
  height: 122px;
}

.trailer-video {
  pointer-events: none;
  border-radius: 0.35rem 0.35rem 0 0;
}

.trailer-video > div {
  position: absolute;
  overflow: hidden;
  top: -20%;
  left: -20%;
  height: 180px !important;
  width: 285px !important;
  pointer-events: none;
  border-radius: 0.35rem 0.35rem 0 0;
}

.trailer-video iframe {
  position: absolute;
  top: -10%;
  /* left: 35%;
  height: 253px;
  width: 448px; */
  pointer-events: none;
  z-index: 999;
  /* transform: translate(-50%, -50%); */
  border-radius: 0.35rem 0.35rem 0 0;
}

.MovieCard-text {
  position: absolute;
  top: 120px;
  left: -45px;
}
