.Section-row {
  margin-left: 30px;
}

.Section-row-poster {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.Section-row-poster::-webkit-scrollbar {
  display: none;
}

.Section-row-poster-img {
  object-fit: contain; /* keep the aspect ratio*/
  /* width: 100%; */
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}

.Section-row-poster-img:hover {
  transform: scale(1.5);
  /* padding: 100px; */
}
.isLarge {
  max-height: 250px;
}
.isLarge:hover {
  transform: scale(1.2);
}

.Section-trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
